<template>
  <div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
      <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
        <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
          <table class="min-w-full">
            <thead>
              <tr>
                <th
                  class="th"
                  v-for="header in headers"
                  :key="header"
                  v-text="header"
                />

              </tr>
            </thead>
            <tbody>
              <tr
                class="bg-white"
                :class="{'bg-gray-100' : i % 2 !== 0}"
                v-for="(job, i) in jobsData"
                :key="job.job_posting_id"
              >
                <td
                  class="td"
                  v-text="job.job_posting_id"
                />
                <td
                  class="td"
                  v-text="job.job_posting_company"
                />
                <td
                  class="td"
                  v-text="job.job_posting_title"
                />
                <td
                  class="td"
                  v-text="job.skills"
                />
                <td
                  class="td"
                  v-text="job.score"
                />
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'JobsTable',
  props: {
    jobsData: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      headers: [
        'Id',
        'Company',
        'Title',
        'Skills',
        'Score'
      ]
    }
  }
}
</script>

<style scoped>
.th {
  @apply px-4 py-4 bg-gray-200 text-left text-xs leading-4 font-medium text-gray-500 uppercase tracking-wider;
}

.td {
  @apply px-4 py-4 whitespace-no-wrap text-sm leading-5 font-medium text-gray-900;
}
</style>