<template>
  <div class="border flex justify-between items-center w-56 p-2">
    <label class="inline-flex items-center">
      <input
        type="checkbox"
        class="form-checkbox"
        v-model="hasSkill"
      >
      <span class="ml-2 text-xl">{{skill}}</span>
    </label>
    <select
      v-show="hasSkill"
      v-model="rating"
      class="form-select block w-16 pl-3 pr-6 py-2 text-base leading-6 border-gray-300 
                   focus:outline-none focus:shadow-outline-blue focus:border-blue-300 
                   sm:text-sm sm:leading-5"
    >
      <option
        disabled
        value=""
      >Rate yourself 1-5 on {{skill}}</option>
      <option
        v-for="n in 5"
        v-text="n"
        :key="n"
      />
    </select>

  </div>
</template>

<script>
export default {
  name: 'SkillCheck',

  props: {
    skill: {
      type: String,
      required: true
    }
  },

  data () {
    return {
      hasSkill: false,
      rating: 0
    }
  },

  computed: {
    skillsData () {
      const { hasSkill, skill, rating } = this;
      return { hasSkill, skill, rating };
    }
  },

  watch: {
    hasSkill (bool) {
      if (bool) {
        // default rating to 1 if they check skill
        this.rating = 1;
      } else {
        this.rating = 0;
      }
    },

    rating () {
      this.$emit('add-update', this.skillsData);
    }
  }
}
</script>