<template>
  <div class="w-4/5 mx-auto pb-6">
    <h2 class="mt-6">Select up to 10 skills and rate yourself from (1-5) for each one.</h2>
    <div class="mt-10 grid">
      <SkillCheck
        v-for="skill in allSkillsListed"
        :skill='skill'
        :key="skill"
        @add-update="updateSkills"
      />
    </div>
    <h2
      class="mt-6"
      v-if="userSkills.length > 0"
    >Recommended Jobs</h2>
    <JobsTable
      v-if="userSkills.length > 0"
      class="mt-10"
      :jobsData="rankedJobsList"
    />
  </div>
</template>

<script>
import SkillCheck from '~/components/SkillCheck';
import JobsTable from '~/components/JobsTable';

export default {
  name: 'Home',

  components: {
    SkillCheck,
    JobsTable
  },

  async created () {
    try {
      const { records: jobs } = await this.$axios.$get(`https://api.airtable.com/v0/appofUyBYDU9meHZS/Imported%20table?api_key=keyKA9Vg4H3tTlQ4y`)
      this.jobs = jobs.map(job => {
        const skillsArray = job.fields.skills.split(',').map(skill => skill.toLowerCase());
        return {
          ...job.fields,
          skillsArray,
          score: 0
        }
      })

    } catch (e) {
      console.log(e);
    }
  },

  data () {
    return {
      jobs: [],
      userSkills: []
    }
  },

  methods: {
    /**
     * Make update to userSkills array, i.e., add, remove, update specific skill
     * Do not update if user already has 10 skills selected
     */
    updateSkills (skillsInfo) {
      const { hasSkill, skill, rating } = skillsInfo;
      if (hasSkill && this.userSkills.length == 10) return;
      if (!hasSkill) {
        this.removeSkill(skill);
      } else {
        if (this.userHasSkill(skill)) {
          this.userSkills = this.userSkills.map(obj => {
            if (obj.skill == skill) {
              return { skill, rating };
            }
            return obj;
          })
        } else {
          this.userSkills.push({ skill, rating });
        }
      }
    },

    removeSkill (skill) {
      if (this.userHasSkill(skill)) {
        const targetIndex = this.userSkills.findIndex(obj => obj.skill == skill);
        this.userSkills.splice(targetIndex, 1);
      }
    },

    userHasSkill (skill) {
      return Boolean(this.userSkills.find(obj => obj.skill == skill));
    },

    resetScores () {
      this.jobs = this.jobs.map(job => ({ ...job, score: 0 }));
    },

    updateScores () {
      let currentJobs = [...this.jobs];
      this.userSkills.forEach(obj => {
        for (let i = 0; i < currentJobs.length; i++) {
          if (currentJobs[i].skillsArray.includes(obj.skill)) {
            currentJobs[i].score = currentJobs[i].score + Number(obj.rating);
          }
        }
      });
      this.jobs = currentJobs;
    }
  },

  computed: {
    /**
     * Get skills for each job, combine into one array
     * Make sure array is unique and sorted alphabetically
     * @return {array}
     */
    allSkillsListed () {
      let list = [];
      this.jobs.forEach(job => {
        list = list.concat(job.skillsArray);
      });
      // use es6 set to remove duplicates
      list = new Set(list);
      // convert back to array and sort
      return Array.from(list).sort();
    },
    /**
     * Rank the jobs based on scores highest -> lowest after 
     * user makes an update to skills section
     * 
     * @return {array}
     */
    rankedJobsList () {
      if (this.userSkills.length == 0) return [];
      return this.jobs.sort((a, b) => b.score - a.score);
    }
  },

  watch: {
    userSkills () {
      this.resetScores();
      this.updateScores();
    }
  }
}
</script>

<style scoped>
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  column-gap: 15px;
  row-gap: 15px;
}
</style>
